@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.Containers {
  display: flex;
  justify-content: center;
  padding: 2px 16px;
  margin-top: 40px;
  color: #fff;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 800px;
  border-radius: 20px;
  height: 500px;
  background-color: #192A53;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.meal{
  margin: 15px;
}











